---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Veille technologique | Simon Destampes" description="Veille technologique">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille technologique"
				tagline="L'inteligence artificelle au coeur de nos débats ."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="simon destampes"
				/>
			</Hero>

			<section>
				<h2 class="section-title">qu'est ce qu'une intelligence artificielle ?</h2>
				<div class="content">
					<p>L'intelligence artificielle (IA) est un ensemble de technologies et de méthodes visant à créer des systèmes informatiques capables d'effectuer des tâches qui nécessitent normalement l'intelligence humaine, telles que la reconnaissance de la parole, la vision, la compréhension du langage naturel, la prise de décision, l'apprentissage, la planification et la résolution de problèmes. Les systèmes d'IA utilisent des algorithmes et des modèles statistiques pour analyser des données, identifier des modèles et prendre des décisions. Les systèmes d'IA peuvent être classés en plusieurs catégories, notamment l'apprentissage automatique, l'apprentissage profond, les réseaux de neurones, les systèmes experts, les systèmes de raisonnement et les systèmes multi-agents. Les applications de l'IA sont nombreuses, allant de la reconnaissance vocale et faciale à la conduite autonome, en passant par la prédiction des risques financiers, la détection de fraudes et la médecine personnalisée.
						 <a href="https://astro.build/"></a> .
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">En quoi peut elle être néfaste pour les developpeur web et autres metiers du web ?</h2>
				<div class="content">
					<p>1.Automatisation des tâches : L'IA peut remplacer les tâches manuelles répétitives effectuées par les développeurs web et d'autres professionnels du web, ce qui peut entraîner une réduction des emplois dans ces domaines.<br>
						2.Augmentation de la concurrence : L'IA peut permettre à des entreprises et des organisations de fournir des services de développement web et d'autres services à un coût moindre, ce qui peut augmenter la concurrence pour les développeurs web et d'autres professionnels du web.<br>
					   3.Dépendance technologique : L'IA peut rendre les entreprises et les organisations dépendantes de la technologie, ce qui peut affecter les professionnels du web qui ne sont pas familiers avec ces technologies.<br>
                       4.Prise de décision automatisée : L'IA peut être utilisée pour prendre des décisions automatisées sans intervention humaine, ce qui peut entraîner des erreurs ou des biais dans les décisions prises.<br>
					   5.Vie privée et sécurité des données : L'IA peut être utilisée pour collecter et analyser de grandes quantités de données personnelles, ce qui peut compromettre la vie privée et la sécurité des données des utilisateurs..</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Et pour quelles raisons elle ne pourra pas remplacer un humain ?</h2>
				<div class="content">
					<p>1.La créativité : L'IA peut être programmée pour imiter la créativité humaine, mais elle ne peut pas produire de manière autonome des idées complètement nouvelles et innovantes.<br>
					   2.La conscience de soi : L'IA n'a pas conscience d'elle-même et ne peut pas ressentir d'émotions. Elle ne peut donc pas avoir de conscience morale et ne peut pas prendre de décisions basées sur des considérations éthiques ou morales.<br>
					   3.La compréhension du contexte : L'IA peut être programmée pour comprendre des contextes limités, mais elle ne peut pas faire preuve de la même compréhension globale et de la même capacité à lire entre les lignes que les humains.<br>
					   4.La flexibilité : L'IA est très spécialisée dans les tâches pour lesquelles elle a été programmée et peut avoir des difficultés à s'adapter à des situations imprévues ou à des tâches en dehors de sa zone de compétence.<br>
					   5.La capacité de communiquer : Les machines peuvent communiquer avec les humains de manière limitée, mais elles ne peuvent pas comprendre et interpréter la communication humaine de la même manière que les humains.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
